html {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    display: grid;
}

header {
    display: flex;
    flex-direction: column;
    /* background: black; */
}
/* can i make it sticky?? */
.nav-bar {
    background: white;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e2e2e2;
    height: 36px;
    padding: 0 15px 3px 8px;
    justify-content: space-between;
    position: relative;
    /* relative vs absolute */
}
.header-first-three-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 13rem;
    align-items: center;
}
.three-line-icon {
    width: 1.3rem;
    margin-top: -.1em;
}
.button-dissapear {
    border: 0;
    -webkit-clip: rect(0 0 0 0);
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.search-button {
    /* width: 16px; */
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    -webkit-transition: ease 0.6s;
    transition: ease 0.6s;
    white-space: nowrap;
    /* vertical-align: middle; */
    background-color: transparent;
    color: #000;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    /* -webkit-letter-spacing: 0.02em;
    -moz-letter-spacing: 0.02em;
    -ms-letter-spacing: 0.02em; */
    letter-spacing: 0.02em;
    padding: 0 0 11px;
    /* margin-left: 18px; */
    margin-top: .75em;
    border: 0;
    -webkit-appearance: button;
    align-content: flex-start;
    justify-content: flex-start;

}
.search-button svg {
    display: flex;
    height: 16px;
    /* vertical-align: sub; */
    width: 16px;
}
                            /* letters need to be taller */
.space-link {
    text-decoration: none;
    color: black;
    font-size: 14.25px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-letter-spacing: 0.7px;
    -moz-letter-spacing: 0.7px;
    -ms-letter-spacing: 0.7px;
    letter-spacing: 0.6px;
    line-height: 19px;
    /* this doesnt work quite right :( letters dont look right */
}
.header-buttons button {
    background-color: #567b95;
    border: 1px solid #326891;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    /* transition: ease 0.6s; WHAT DOES THIS DO? */
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    padding: 11px 12px 8px;
    cursor: pointer;
}
.header-buttons a {
    width: 100%;
    text-decoration: none;
}
/* END HEADER SECTION */

/* i got rid of this but ... it's for the buttons? */
/* .user-links {
    background: pink;
    display: flex;
    font-size: 11px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    padding: 13px 20px 12px;
} */

/* more space between box and topbar */
/* space between title and image looks ok! */
.article-title-box {
    background: white;
    display: flex;
    flex-wrap: nowrap;
    line-height: 2.25rem;
    margin: 20px 20px 15px;
    /* margin-bottom: 1.65rem; */
    width: calc(100% - 40px);
    position: relative;
    /* position???? */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* align-items: center; */
    justify-content: center;
}
    /* font & size isnt quite right */
/* titlw needs to wrap but it looks weird and i dont want it to */
.article-title {
    margin-top: 1.875rem;
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    text-align: left;
    max-width: 500px;
}

.main-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: green; */
    /* position: relative; */
    /* margin: 43px auto; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    /* max-width: 1200px; */
}
/* not the right size also  */
.main-image {
    /* height: 407.25px; */
    width: 900px;
    max-width: 1200px; /*this was in the weird css for the pic. the html has diff :(*/
    min-width: 600px; /*theres some weird size stuff in the html for the pic */
    vertical-align: top;
    /* work w whatever display im using? */
}





/* i want to make this work but LATER */
/* @media (min-width: 1440px) {
.main-image-container {
    width: 1200px;
}}
@media (min-width: 1024px) {
.main-image-container {
    width: 945px;
}}
@media (min-width: 600px) {
.main-image-container {
    width: auto;
}}
@media (min-width: 740px) {
.main-image-container {
    margin-top: 25px;
}}
@media (min-width: 600px) {
.main-image-container {
    margin: 43px auto;
}} */

.mn-img-subtitle-box {
    display: flex;
    flex-direction: column;
    margin-left: -17.5em;
    /* background: rosybrown; */
    /* margin: 10px 20px 0; */
    align-content: flex-start;
/* this is figcaption, so maybe i want ome styles for all of them? */
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    /* margin: 10px 20px 0; */
    text-align: left; 
    /* max-width: 900px;    */
}

.mn-img-subtitle {
    margin-right: 7px;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 0.975rem;
    line-height: 1.125rem;
    text-align: left;
}

.mn-img-subtitle-box:last-child {
    color: #888;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    line-height: 1.125rem;
    vertical-align: baseline;
    font-size: .8125rem;
}


/* need better name for this */
.top-article-info {
    align-self: center;
    display: grid;
    grid-template-columns: 145px 455px;
    grid-template-rows: 35px 35px;
    /*              USEFUL FOR SETTING NEEDED SPACE AROUND ELEMENTS grid-column-gap: ; */
    justify-items: left;
    justify-content: flex-start;
    /* background: indianred; */
    margin-bottom: 20px;
    color: #121212;
    width: calc(100% - 40px);
    max-width: 600px;
}

/* author info */
.top-article-info div:first-of-type {
    display: flex;
    /* align-items: center; */
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 0.875rem;
    font-weight: 600;
}
.top-article-info .article-date {
    /* display: ; */
    grid-column-start: 1;
    grid-row-start: 2;
}
.top-article-info a {
    text-decoration: underline solid #ccc;
    /* text-emphasis: none; */
    color: black;
    letter-spacing: .02em;
    align-self: center;
}
li {
    list-style-type: none;
}
.top-article-info ul:first-of-type {
    justify-self: start;
    padding: 0;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 500;
    color: #333;
    margin-bottom: 1rem;
    font-size: 0.8125rem;
    line-height: 1rem;
    /* grid-column-start: 2; */
    /* grid-row-start: 2; */
}
.social-links {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: end;
}

.top-article-info .social-links ul {
    display: flex;
    flex-direction: row;
}
.social-links li {
    background: rgb(231, 231, 231);
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 15px;
    /* align-self: center; */
    justify-content: center;
}
.no-backgrnd {
    background: none !important;
}
.social-links button {
    background: none;
    border: none;
}
.comm-btn {
    border: 1px solid rgb(102, 102, 102) !important;
    border-radius: 4px;

    /* this should have a tail!!!! */
}
.comm-btn::before {
    border: 4px solid rgb(102, 102, 102);
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    bottom: -8px;
    right: 8px;
    content: '';
    position: absolute;
}
.comm-btn::after {
    content: '';
    position: absolute;
    border: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    bottom: -5px;
    right: 9px;
}




.grid {
    display: flex;
    flex-direction: column;
    color: #333;
}
.article-body {
    /* background: lightseagreen; */
    align-self: center;
    width: calc(100% - 40px);
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
.article-body p {
    margin-bottom: 0.78125rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 20px;
    line-height: 1.5625rem; 
    margin-top: 0;
}



.log-in-ad {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
}
.log-in-line {
    width: 75px;
}
.log-in-ad hr:first-of-type {
    margin-bottom: 18px;
}
.log-in-ad hr:last-of-type {
    margin-top: 18px;
}
.log-in-ad p, .log-in-ad a {
text-align: center;
font-weight: 700;
font-size: 15px;
line-height: 19px;
margin-bottom: 0
}
.log-in-ad a {
    color: rgb(50, 104, 145);
    text-decoration: none;
}


/* .diagram {
    display: flex;
    flex-direction: column;
    width: .75vw;
    position: absolute;
    height: 754px;
    margin-left: -290px;
} */

.diagram {
    display: flex;
    flex-direction: column;
    width: .75vw;
    position: absolute;
    height: 754px;
    margin-top: 1620px;
    margin-left: -200px;
}
.diagram div ul {
    display: grid;
    grid-template-columns: repeat(4, 228px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 79px;
    grid-row-gap: 100px;
    position: relative;
    margin-top: -46.5%;
    padding: 0;
}
.diagram header {
    width: 1000px;
}
.diagram header h1 {
    font-size: 20px;
    line-height: 1.5rem;
    font-weight: 700;
    font-style: normal;
    font-family: nyt-cheltenham,georgia,times new roman,times,serif;
    margin-bottom: 2px;
}
.diagram .head-footer {
    border-top: none;
    margin-top: 3px;
    font-size: 14px;
    line-height: 1.125rem;
    font-weight: 400;
    font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif;
    color: #666;
    margin-bottom: 0;
}
.p-body-graphic {
    margin: 0;
    width: 1000px;
}
.p-bold {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .05em;
}
.diagram ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1000px;
    margin-top: -39vw;
}
.diagram ul li {
    margin-bottom: 63px;
    white-space: pre-wrap;
}
}
.diagram div ul p {
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
}

figure {
    width: 100%;
    margin: 0;
    margin-bottom: 43px;
}
figure figcaption {
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    color: rgb(102, 102, 102);
    text-align: left;
    margin: 10px 0 0px;
}
figure figcaption span:first-of-type {
    font-size: 0.9375rem;
    line-height: 1.25rem;
}
figure figcaption span:last-of-type {
    color: rgb(136, 136, 136);
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    line-height: 1.125rem;
    letter-spacing: 0.01em;
    font-size: .85rem;
}
/* figcaption isnt quite set right */


.bottom-of-article {
    display: grid;
    /* grid-template-columns: ; */
    grid-template-rows: .3fr 1fr;
    margin: 1rem 0 1.5rem}

.boa-text {
    display: block;
    margin: 0px auto 1em;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(102, 102, 102);
}
.boa-text a {
    color: rgb(102, 102, 102);
  
}

.bottom-social-links {
    display: grid;
    grid-template-columns: 60% 15% 25%;
    /* margin: 0; */
    padding: 0;
    margin: 1.5rem auto 2rem;
}

/* needs to be specfic to olny1st btn */
.bottom-social-links button:first-of-type {
    grid-column: 1/2;
    width: 100%;
    background-color: rgb(86, 123, 149);
    color: white;
    display: block;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(50, 104, 145);
    border-radius: 3px;
    padding: 5px 0px;
    transition: background-color 0.6s ease 0s;
    text-transform: uppercase;
}
/* work on this */

.bottom-social-links li:nth-of-type(2), .bottom-social-links li:nth-of-type(3), .bottom-social-links li:nth-of-type(4), .bottom-social-links li:nth-of-type(5) {
    grid-column: 3/4;
    grid-row: 1/1;
}


.only-social {
    background: rgb(231, 231, 231);
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 15px;
    /* align-self: center; */
    justify-content: center;
    grid-column: 3/4;
}


 .ad-box {
    display: grid;
    grid-template-areas:    "content aside"
                            "content aside"
                            "b-content aside";
    grid-template-columns: minmax(800px, 2fr) minmax(300px, .75fr);
    /* grid-template-columns: 800px 300px; */
    column-gap: 3rem;
    row-gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    overflow: hidden;
}

.more-articles {
    grid-area: content;
    display: grid;
    overflow: hidden;
    /* grid-auto-columns: 1fr; */
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(3, 275px);
    grid-template-rows: repeat(2, auto);
    max-width: 100%;
    gap: 1rem;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */

    /* display: grid;
    grid-template-areas:    "header"
                            "content"
                            "content";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr 1fr 1fr; 
    i couldnt get this to work*/
}

 .sec-title {
    grid-column: 1 / -1;
    font-size: 1.6rem;
    border-top: 1px solid rgb(0, 0, 0);
    /* padding: 17px 20px 0px; */
    margin-bottom: -1rem;
}
.sec-title h2 {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    /* font-size: 2rem; */
    font-size: 1rem;
    line-height: 1.25rem;
    max-width: 851.25px;
}
.more-articles a, .editors-picks a {
    text-decoration: none;
    color: black;
}
.other-articles figure img {
    width: 100%;
}

.other-articles {
    /* grid-area: content; */
    display: flex;
    flex-direction: column;
}
/* .other-articles div:first-of-type {
    min-width: 60px;
} */
.other-articles figure {
    /* padding: 8px; */
    margin: 0;
}
.other-articles figcaption {
    font-family: nyt-cheltenham-small, georgia, "times new roman";
    padding-bottom: 4px;
    font-size: 0.625rem;
    text-align: right;
    padding-right: 5px;
}
.other-articles div:nth-child(2) {
    /* padding-left: 20px; */
    max-width: 275px;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    /* font-weight: 300; */
    padding-right: 1rem;
    /* min-width: 375px; */
    color: rgb(51, 51, 51);
    font-size: .9rem;
    line-height: 1.375rem;
    text-align: left;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.other-articles h3 {
    color: rgb(18, 18, 18);
    max-width: 275px;
    margin: 0;
    font-family: cheltenham;
    font-weight: 600;
}
.other-articles div:nth-child(2) span {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.3px;
    color: rgb(153, 153, 153);
} 



.most-pop-aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(0, 0, 0);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    padding-bottom: 15px;
    /* border-top: 1px solid rgb(0, 0, 0); */
}
.most-pop-aside h2 {
    /* padding: 17px 0px 0px; */
    font-size: 1rem;
}
.link-box {
    margin-top: 15px;
    border-top: 1px solid rgb(226, 226, 226);
    list-style: none;
}
.link-box h3 {
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 15px 0px;
    margin: 0;
}
.link-box h3 a {
    color: rgb(18, 18, 18);
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.375rem;
    text-decoration: none;
}





.editors-picks {
    grid-area: b-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    overflow: hidden;
}
/* .editors-picks div:first-of-type {
    grid-column: 1 / -1;
} */
/* .editors-picks h2 {
    border-top: 1px solid rgb(0, 0, 0);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    max-width: 851.25px;
    padding: 17px 20px 0px;
} */
/* .editors-picks div figure img {
    width: 100%;
} */


.nav-elements-box::before {
    border-top: 1px solid #e2e2e2;
    content: '';
    display: block;
    height: 1px;
    margin-top: 0;
}
/* header is being styled for this, watch that */
.nav-elements-box {
    display: flex;
    flex-direction: column;
    /* background: pink; */
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    max-width: 1200px;
    /* padding: 0 3% 9px; */
}
.nav-elements-box header {
    height: 44px;
    width: 100%;
    background: none;
    display: flex;
    flex-direction: row;
}
.nav-elements-box header svg {
    width: 100%;
    justify-self: start;
    margin-top: .75rem;
}
.nav-elements-box header a {
    text-decoration: none;
    justify-self: end;
    width: 7rem;
    margin: 18px 0 0 auto;
    color: #567b95;
    font-family: nyt-franklin;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
}
.nav-content a {
    text-decoration: none;
    color: #000;
}
.nav-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* can set this to like repeat 1fr 6x */
    font-size: 14px;
}
.nav-content h3 {
    /* need to line this up w the li's below */
    text-transform: uppercase;
    color: #333;
    font-size: 13px;
    font-weight: 700;
    font-family: nyt-franklin;
    height: 25px;
    line-height: 15px;
    width: 150px;
}
.nav-content ul {
    padding: 0;
}
.nav-content ul li {
    font-family: nyt-franklin;
    font-weight: 500;
    height: 23px;
    line-height: 16px;
}
.nav-content a {
    text-transform: capitalize;
    width: 150px;
    font-size: 14px;
    font-weight: 500;
    height: 23px;
    line-height: 16px;
}
.nav-content div:last-of-type {
    border-left: 1px solid #e2e2e2;
    padding-left: 15px;
}
.line-abv-item {
    border-top: 1px solid #e2e2e2;
    margin-top: 2px;
    padding-top: 10px;
}
.logo-links {
    margin-bottom: 10px;
}
.logo-links li {
    margin-bottom: 5px;
}
.logo-links li a {
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    height: 25px;
    line-height: 15px;
}
.link-logos {
    display: inline-block;
    height: 13px;
    width: 13px;
    margin-right: 7px;
    vertical-align: middle;
}
.smaller-links li a {
    text-transform: capitalize;
    width: 150px;
    font-size: 11px;
    font-weight: 500;
    height: 23px;
    line-height: 21px;
}



/* footer {
    display: flex;
    flex-direction: row;
} */
.footer-box {
    border-top: 1px solid #ebebeb;
    padding-top: 9px;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 45px;
}
.footer-box ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 11px;
    /* margin-left: 95px; */
}

.footer-box a {
    margin-right: 10px;
    color: #666;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    text-decoration: none;
}


/* bar isnt quite long enough */
.sticky-bar {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    line-height: 17px;
    opacity: 1;
    /* animation: 0.5s ease 0s 1 normal none running animation-mhvv8m; */
    height: 220px;
    bottom: -200px;
    position: fixed;
    height: 250px;
    /* z-index: 1000000101; */
    /* bottom: -236px; */
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* will-change: transform; */
    border-top: 1px solid rgb(51, 51, 51);
    outline: aliceblue;
    /* transition: transform 200ms ease-out 0s; */
    justify-content: center;
}
.sticky-bar div {
    /* width: 100%; */
}
.sb-1 {
    margin-top: .6rem;
    position: absolute;
}
.sb-2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding-left: 60rem;
}
.sticky-bar p {
    width: 100%;
    height: 55px;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: nyt-franklin;
    letter-spacing: 0.24px;
}
.sticky-bar button {
    display: flex;
    /* -webkit-box-pack: center; */
    /* -webkit-box-align: center; */
    background-color: transparent;
    width: 55px;
    height: 55px;
    /* z-index: 1; */
    outline: none;
    border: none;
    /* align-self: start; */
    padding-bottom: 15px;
    cursor: pointer;

}

/* set the hover to the links */